/*
Theme Name: Adorn Child
Theme URI: http://adorn.edge-themes.com
Description: A child theme of Adorn Theme
Author: Edge Themes
Author URI: http://themeforest.net/user/edge-themes
Version: 1.0.1
Text Domain: adorn
Template: adorn
*/
@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: url("../adorn/custom/fonts/LibreBaskerville-Regular.woff") format('woff');
}
#rev_slider_1_1 .edge-dark.tparrows.tp-leftarrow:before, #rev_slider_1_1 .edge-dark.tparrows.tp-rightarrow:before {
    margin-left: -3px;
    color: #622434!important;
    font-weight: bold;
}
span.item_text, .edge-header-vertical .edge-vertical-area-widget-holder .widget.widget_nav_menu ul li a ,span.edge-logged-in-user-name, h1,h2,h3,h4,h5,h6, table th, span.posted_in, #edge-back-to-top>span {
	color: #622434!important;
	font-family: 'LibreBaskerville-Regular'!important;
}
label,p,bdi, th, a, div.woocommerce input[type=submit], span.edge-quantity-label, #edge-back-to-top>span, .yith_ywraq_add_item_response-95.yith_ywraq_add_item_response_message, .edge-search-label,.edge-title .edge-title-holder .edge-breadcrumbs a, .edge-title .edge-title-holder .edge-breadcrumbs span, a.edge-fullscreen-search-close, input, .woocommerce-result-count, .edge-woo-single-page .woocommerce-tabs #reviews .comment-respond .comment-reply-title, textarea {
	font-family: 'LibreBaskerville-Regular'!important;
}
textarea, input {
    border-radius: 0px!important;
}
button#place_order, button.frm_button_submit, input.button,a.add-request-quote-button.button, input#submit, .edge-login-register-content .edge-login-button-holder .edge-btn, .edge-register-button-holder button.edge-btn.edge-btn-small.edge-btn-solid {
	background-color: #622434!important;
	color: #fff!important;
	border: 1px solid #622434!important;
	border-radius: 0px!important;
}
.edge-register-button-holder span.edge-btn-text {
    color: #fff!important;
    border-bottom: none!important;
}
button#place_order:hover, button.frm_button_submit:hover, input.button:hover, a.add-request-quote-button.button:hover , input#submit:hover , .edge-login-register-content .edge-login-button-holder .edge-btn:hover, button.edge-btn.edge-btn-small.edge-btn-solid:hover, .edge-register-button-holder button.edge-btn.edge-btn-small.edge-btn-solid:hover{
	background-color: #f9e1d0!important;
	color: #622434!important;
}
.edge-main-menu>ul>li>a {
	font-size: 12px!important;
}
.edge-login-button-holder span.edge-btn-text {
    color: #fff!important;
	border-bottom: none!important;
}
/*
a.add_to_cart_button.ajax_add_to_cart.edge-button {
	display: none!important;
}*/
.edge-fullscreen-search-holder .edge-fullscreen-search-close-container a:before {
    content: "Cerrar"!important;
}
.edge-woo-single-page .woocommerce-tabs ul.tabs>li.active a, .edge-woo-single-page .woocommerce-tabs ul.tabs>li:hover a {
    background-color: #622434!important;
}
.edge-breadcrumbs-inner a, span.edge-icon-font-elegant.arrow_triangle-down, .edge-login-register-widget .edge-login-dropdown li a,  .edge-search-opener .edge-search-opener-wrapper .edge-icon-ion-icon, span.icon-arrows-remove, .edge-title .edge-title-holder .edge-breadcrumbs a , .arrow_carrot-down:before{
    color: #622434!important;
}
.edge-footer-bottom-inner.edge-grid {
	font-weight: bold!important;
    color: #622434!important;	
}
table tbody tr, table thead tr {
    border: 1px solid #622434!important;
}
.edge-woo-social-share-holder, .edge-fullscreen-search-logo.edge-logo-wrapper {
    display: none!important;
}
table#yith-ywrq-table-list img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    height: 200px!important;
    object-fit: contain!important;
}
span.edge-btn-text {
    color: #622434!important;	
    border-bottom: 1px solid #622434!important;	
}
.edge-logo-wrapper {
    width: 175px!important;
}
.edge-logo-wrapper a {
    height: 80px!important;
}

.edge-header-vertical .edge-vertical-area-widget-holder .widget.widget_nav_menu ul li a, span.edge-logged-in-user-name, .edge-login-register-widget .edge-login-dropdown li a,.edge-woo-single-page .woocommerce-tabs #reviews .comment-respond .comment-form-rating label,span#reply-title,.edge-woo-single-page .woocommerce-tabs #reviews .comment-respond p, p.comment-form-comment label,#edge-back-to-top>span, .woocommerce-page .edge-content label, div.woocommerce label {
    font-size: 12px!important;
}
a.add-request-quote-button.button, .edge-woo-single-page .woocommerce-tabs ul.tabs>li a,input#submit, input.button, .edge-login-register-content ul li a {
    font-size: 10px!important;
}
.yith-ywraq-mail-form-wrapper h3 {
    font-size: 20px!important;
}
a {
    color: #606069!important;
}
.edge-login-button-holder span.edge-btn-text:hover{
	color: #fff!important;
}
.edge-title .edge-title-holder .edge-breadcrumbs span , a.edge-login-opener{
    font-size: 10px;
	font-weight: bold!important;
}
.edge-btn.edge-btn-simple {
   
    border-bottom: 1px solid #622434!important;
}
.edge-main-menu>ul>li>a , .edge-login-register-widget .edge-logged-in-user .edge-logged-in-user-inner>span{
	text-transform: capitalize!important;}
a.edge-login-opener,  .edge-login-register-widget .edge-login-opener {
    color: #652938!important;
    text-transform: capitalize!important;
	font-size: 12px!important;
}
.edge-shopping-cart-holder .edge-header-cart, .edge-side-menu-button-opener .edge-side-menu-lines {
	display: none!important;
}